<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalibrationFluorescentIntensity</key>
	<integer>25</integer>
	<key>AllowScanWithoutCellScope</key>
	<false/>
	<key>DownloadEnabled</key>
	<false/>
	<key>UploadEnabled</key>
	<true/>
	<key>EmptyContentThreshold</key>
	<string>1.15</string>
	<key>BoundaryScoreThreshold</key>
	<integer>100</integer>
	<key>DebugMode</key>
	<false/>
	<key>StageBacklashSteps</key>
	<integer>300</integer>
	<key>FocusBroadSweepRange</key>
	<real>13000</real>
	<key>FocusBroadSweepStepSize</key>
	<integer>500</integer>
	<key>DeadBatteryVoltage</key>
	<real>7</real>
	<key>MaxBatteryVoltage</key>
	<real>8.4</real>
	<key>BatteryWarningVoltage</key>
	<real>7.2</real>
	<key>DefaultFocusZ</key>
	<integer>10000</integer>
	<key>SlideCenterY</key>
	<integer>800</integer>
	<key>SlideCenterX</key>
	<integer>3600</integer>
	<key>StageSettlingTime</key>
	<real>0.3</real>
	<key>FocusSettlingTime</key>
	<real>0.3</real>
	<key>StageStepInterval</key>
	<integer>200</integer>
	<key>FocusStepInterval</key>
	<integer>50</integer>
	<key>MaxAFFailures</key>
	<integer>3</integer>
	<key>AddBFWhenManualFocusing</key>
	<true/>
	<key>AutoScanInitialFocus</key>
	<true/>
	<key>BypassDataEntry</key>
	<false/>
	<key>DoAutoLoadSlide</key>
	<true/>
	<key>AutoScanFluorescentIntensity</key>
	<integer>255</integer>
	<key>AutoScanBFIntensity</key>
	<integer>5</integer>
	<key>AutoScanFocusInterval</key>
	<integer>5</integer>
	<key>AutoScanStepsBetweenFields</key>
	<integer>100</integer>
	<key>AutoScanCols</key>
	<integer>10</integer>
	<key>AutoScanRows</key>
	<integer>20</integer>
	<key>DoAutoFocus</key>
	<true/>
	<key>DoAutoScan</key>
	<true/>
	<key>DoAutoAnalyze</key>
	<true/>
	<key>DefaultEmailRecipient</key>
	<string>fbmyers@gmail.com</string>
	<key>SyncRetryInterval</key>
	<integer>10</integer>
	<key>WifiSyncOnly</key>
	<false/>
	<key>LastSyncDate</key>
	<date>1984-01-30T13:40:00Z</date>
	<key>SyncInterval</key>
	<integer>30</integer>
	<key>ExamIDFormat</key>
	<string>.*</string>
	<key>CellScopeBTUUID</key>
	<string>0000</string>
	<key>PatientIDFormat</key>
	<string>.*</string>
	<key>DefaultLocation</key>
	<string>Fletcher Lab</string>
	<key>CellScopeID</key>
	<string>DEFAULT</string>
	<key>MaxNameLocationAddressLength</key>
	<string>50</string>
	<key>RedThreshold</key>
	<real>0.95</real>
	<key>YellowThreshold</key>
	<real>0.8</real>
	<key>BypassLogin</key>
	<string>NO</string>
	<key>ResetCoreDataOnStartup</key>
	<true/>
	<key>DiagnosticThreshold</key>
	<real>0.95</real>
	<key>NumPatchesToAverage</key>
	<integer>3</integer>
	<key>CameraExposureDurationBF</key>
	<integer>50</integer>
	<key>CameraISOSpeedBF</key>
	<integer>64</integer>
	<key>CameraExposureDurationFL</key>
	<integer>100</integer>
	<key>CameraISOSpeedFL</key>
	<integer>300</integer>
	<key>CameraWhiteBalanceBlueGain</key>
	<integer>1</integer>
	<key>CameraWhiteBalanceGreenGain</key>
	<integer>1</integer>
	<key>CameraWhiteBalanceRedGain</key>
	<integer>1</integer>
</dict>
</plist>
